#!/bin/ksh
#
# $OpenBSD$

daemon="${MODPY_BIN}"
daemon_flags="/var/calibre-web/cps.py"
daemon_user="_calibreweb"

. /etc/rc.d/rc.subr

rc_stop() {
    pkill -9 -T "${daemon_rtable}" -xf "${pexp}"
}

rc_bg=YES

rc_cmd $1
